button[data-wd-key="nav:open"] {
	display: none;
}
button[data-wd-key="nav:export"] {
	display: none;
}
button[data-wd-key="nav:sources"] {
	display: none;
}
button[data-wd-key="nav:settings"] {
	display: none;
}
.maputnik-toolbar {
	//background-color: $color-primary-gecoreviewer;
}
.maputnik-toolbar-logo {
	//background-color: $color-primary-gecoreviewer;
}
